apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ringpop
  name: ringpop
  namespace: monitoring
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ringpop
  template:
    metadata:
      labels:
        app: ringpop
    spec:
      containers:
      - args:
        - --listen.http=:3000
        - --backend.url=http://127.0.0.1:5678/
        - --listen.ringpop=:5000
        - --listen.debug=:6000
        - --discovery.dns.host=ringpop.monitoring.svc.cluster.local
        - --discovery.dns.port=5000
        - --log.level=4
        image: http-ringpop:1.0.0
        imagePullPolicy: Always
        name: rp
        ports:
        - containerPort: 3000
          name: http
        - containerPort: 5000
          name: ringpop
        - containerPort: 6000
          name: debug
        resources:
          limits:
            cpu: 250m
            memory: 500Mi
          requests:
            cpu: 100m
            memory: 20Mi
        env:
        - name: RINGPOP_PEER_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
      - args:
        - --text="hello world"
        image: hashicorp/http-echo:0.2.3
        name: backend
        ports:
        - containerPort: 5678
          name: http-backend
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
          requests:
            cpu: 10m
            memory: 20Mi

---

# Headless service for internal endpoints discovery using DNS A records
apiVersion: v1
kind: Service
metadata:
  name: ringpop
  namespace: monitoring
  labels:
    app: ringpop
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  clusterIP: None
  ports:
  - name: http
    port: 3000
    targetPort: http
  - name: ringpop
    port: 5000
    targetPort: ringpop
  - name: debug
    port: 6000
    targetPort: debug
  selector:
    app: ringpop
